<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Jabra Genesys Workspace Desktop Edition end interaction extension" Language="1033" Version="0.9.0.0" Manufacturer="GN Audio A/S" UpgradeCode="B57D18F6-93EB-43C4-A2E4-F23AB12F0001">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="GCTI" Name="GCTI">
          <Directory Id="INSTALLFOLDER" Name="Workspace Desktop Edition" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="0E3CD9AE-AAAC-4049-BA64-454A34319535">
        <File Source="$(var.JabraInteractionExtension.TargetDir)\JabraInteractionExtension.dll" />
        <File Source="$(var.JabraInteractionExtension.TargetDir)\JabraInteractionExtension.module-config" />
        <File Source="$(var.JabraInteractionExtension.TargetDir)\GnProtocol.dll" />
        <File Source="$(var.JabraInteractionExtension.TargetDir)\GnProtocolOverUsbHid.dll" />
        <File Source="$(var.JabraInteractionExtension.TargetDir)\UsbDeviceInfo.dll" />
        <File Source="$(var.JabraInteractionExtension.TargetDir)\UsbDeviceScanner.dll" />
        <File Source="$(var.JabraInteractionExtension.TargetDir)\UsbDeviceScannerInterface.dll" />
        <File Source="$(var.JabraInteractionExtension.TargetDir)\UsbHidDevice.dll" />
        <File Source="$(var.JabraInteractionExtension.TargetDir)\UsbHidDeviceInterface.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
